
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Data Package Info</h3>
                <div class="card-tools">
                    <h6 class="text-success" id="msg" style="display:none"></h6> 
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Data Package Description&nbsp;<span style="color:red!important"><b>*</b></span></label>
                            <input type="hidden" class="form-control" id="DP_ID" name="DP_ID" />
                            <input type="hidden" class="form-control" id="AddedBy" name="AddedBy" />
                            <input type="hidden" class="form-control" id="AddedDate" name="AddedDate" />
                            <input type="text" class="form-control" id="DP_Description" name="DP_Description" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Data Package GB Type&nbsp;<span style="color:red!important"><b>*</b></span></label>
                            <input type="text" class="form-control" id="DP_GB_Type" name="DP_GB_Type" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Data Package Price  &nbsp;<span style="color:red!important"><b>*</b></span></label>
                            <input type="text" class="form-control" id="DP_Price" name="DP_Price" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="padding-top: 22px;">
                            <label></label>
                            <button class="btn btn-success mt-2" id="addupbtn" onclick="CheckValidation()">Add Data Package</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Data Package List</h3>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Data Package Description</th>
                                    <th>Data Package GB Type</th>
                                    <th>Data Package Price</th>
                                    <th>Added By</th>
                                    <th>Added Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="stutbl"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(function () {
        GetDataPackageList(); 
        window.alert = function () {  }
    });
    function GetDataPackageList()
    {
        $.ajax({
            type: 'GET',
            url: '/DataPackageName/GetDataPackageName',
            success: function (response) {
                var op = '';
                $.each(response, function (key, item) {
                    op += '<tr><td>' + item.DP_Description + '</td><td>' + item.DP_GB_Type + '</td><td>' + item.DP_Price + '</td><td>' + item.AddedBy + '</td><td>' + item.AddedDate + '</td>';
                    op += '<td><a href="javascript:;"  class="btn btn-info mt-2" onclick="EditDataPackage(\'' + item.DP_ID + '\',\'' + item.DP_Description + '\',\'' + item.DP_GB_Type + '\',\'' + item.DP_Price + '\',\'' + item.AddedBy + '\',\'' + item.AddedDate + '\')">Edit</a><a href="javascript:;" onclick="DelDataPackage(\'' + item.DP_ID + '\')" class="btn btn-danger mt-2">Delete</a></td></tr>';
                });
                $('#stutbl').empty().append(op);
                Datatables();
            },
            failure: function (response) {
                $('#result').html(response);
            }
        });
    }
    function EditDataPackage(DP_ID, DP_Description, DP_GB_Type, DP_Price, AddedBy, AddedDate)
    {
        debugger
        $('#DP_ID').val(DP_ID); 
        $('#DP_Description').val(DP_Description);
        $('#DP_GB_Type').val(DP_GB_Type);
        $('#DP_Price').val(DP_Price); 
        $('#AddedBy').val(AddedBy);
        $('#AddedDate').val(AddedDate);
        $('#addupbtn').empty().text('Update');
    }
    function CheckValidation()
    {
        if ($('#DP_Description').val() == "" || $('#DP_GB_Type').val() == "" || $('#DP_Price').val() == "")
            {
            toastr.error('Required Fields are Mandatory...!')
            }
            else
             {
            AddDataPackage();
            }

    }
    function AddDataPackage() {
        var btn_name = $('#addupbtn').text();
        if (btn_name == "Update") {
            var DataPackage = {};
            DataPackage.DP_ID = $('#DP_ID').val(); 
            DataPackage.DP_Description = $('#DP_Description').val();
            DataPackage.DP_GB_Type = $('#DP_GB_Type').val();
            DataPackage.DP_Price = $('#DP_Price').val();
            DataPackage.AddedBy = $('#AddedBy').val();
            DataPackage.AddedDate = $('#AddedDate').val();
            var data1 = JSON.stringify(DataPackage); 
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/DataPackageName/Edit',
                data: data1,
                success: function (response) {
                    var Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        progressBar: true,
                        timer: 3000
                    });
                    Toast.fire({
                        icon: 'success',
                        title: 'Data Package Name Update Successfully..!'
                    })
                    $('#addupbtn').empty().text('Add Data Package Name');
                    RefreshPage();
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        }
        else {
            DataPackage = {};
            DataPackage.DP_Description = $('#DP_Description').val();
            DataPackage.DP_GB_Type = $('#DP_GB_Type').val();
            DataPackage.DP_Price = $('#DP_Price').val();
            var data1 = JSON.stringify(DataPackage);
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/DataPackageName/Create',
                data: data1,
                success: function (response) {
                    var Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        progressBar: true,
                        timer: 3000
                    });
                    Toast.fire({
                        icon: 'success',
                        title: 'Data Package Name Save Successfully..!'
                    })
                    RefreshPage();
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        }
    }
    function DelDataPackage(DP_ID)
    {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                var DataPackage = {};
                DataPackage.DP_ID = DP_ID;
                var data1 = JSON.stringify(DataPackage); 
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '/DataPackageName/Delete',
                    data: data1,
                    success: function (response) {
                        Swal.fire('Deleted!', 'Your file has been deleted.', 'success')
                        RefreshPage();
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            }
        })
    }




</script>
