
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Mobile Number Series</h3>
            </div>
            <div class="card-body">
                <form id="sho">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mobile Network &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                @Html.DropDownList("TelNetwork", new List<SelectListItem>
             {
                new SelectListItem{ Text="Please Select Network", Value = "" },
                new SelectListItem{ Text="Ufone", Value = "Ufone" },
                new SelectListItem{ Text="Zong", Value = "Zong" },
                new SelectListItem{ Text="Jazz", Value = "Jazz" },
                new SelectListItem{ Text="Warid", Value = "Warid" },
                new SelectListItem{ Text="Telenor", Value = "Telenor" }}, new { style = "width: 100%", @class = "form-control select2", id = "Tel" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>It Number Reference &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <input autocomplete="off" name="ItNumberReference" style="width:100%" id="ItNumberReference2" maxlength="19" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>From Number &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <input type="text" name="telfrom" class="form-control" id="from" data-inputmask='"mask": "09999999999"' data-mask />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>To Number &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <input name="telto" type="text" class="form-control" id="sto" data-inputmask='"mask": "09999999999"' data-mask />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input value="Add Series" type="button" class="btn btn-info" onclick="CheckValidation()" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Number List</h3>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>IT Reference No</th>
                                    <th>Mobile Network</th>
                                    <th>Number</th>
                                    <th>MSISD No.</th>
                                    <th>Added By</th>
                                    <th>Added Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tblasignnumber"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>


<script>
    $(document).ready(function () {
        $('[data-mask]').inputmask();
    });
    $(function () {
        GetSimList();     
        window.alert = function () { }
    });
    function CheckValidation() {
            if ($('#Tel :selected').val() == "" || $('#ItNumberReference2').val() == "" || $('#sto').val() == "" || $('#from').val() == "") {
                toastr.error('Required Fields are Mandatory...!')
            }
            else {
                AssignMSISD();
            }
    }

    function GetSimList()
    {
        $.ajax({
            type: 'GET',
            url: '/MobileNumberSeries/GetNumbers',
            success: function (response) {
                debugger
                var op = '';
                $.each(response, function (key, item) {
                    op += '<tr>' + '<td>' + item.ItNumberReference + '</td><td>' + item.TelNetwork + '</td><td>' + item.TelNumber + '</td><td>' +  item.Sim_MSISD_No + '</td><td>' + item.CreatedBy + '</td><td>' + item.Modifieddates + '</td>';
                    op += '<td><a href="javascript:;" onclick="delmsisd(\'' + item.ID + '\')" class="btn btn-danger mt-2">Delete</a><a href="javascript:;" onclick="updatemsisdno(\'' + item.ID + '\')" class="btn btn-info mt-2">Update MSISD No.</a></td></tr>';
                });
                $('#tblasignnumber').empty().append(op);
                Datatables();
            },
            failure: function (response) {
                $('#result').html(response);
            }
        });
    }

    function updatemsisdno(ID) {

        debugger
        var text = Swal.fire({
            input: 'textarea',
            inputLabel: 'MSISD Number',
            inputPlaceholder: 'Enter MSISD Number here...',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            closeOnConfirm: true,
            customClass: 'textareas',
        }).then((result) => {
            if (result.isConfirmed)
            {
                var val = result.value;
                var Msisdno = {};
                Msisdno.ID = ID;
                Msisdno.Sim_MSISD_No = val; 
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '/MobileNumberSeries/Updatemsisdno',
                    data: '{local: ' + JSON.stringify(Msisdno) + '}', 
                    success: function (response) {
                        var Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            progressBar: true,
                            timer: 3000
                        });
                        Toast.fire({
                            icon: 'success',
                            title: 'MSISD Number Update Successfully..!'
                        })
                        RefreshPage();
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            }
        })
    }
    function AssignMSISD()
    {
        var Msisdno = {};
        Msisdno.from = $('#from').val();
        Msisdno.to = $("#sto").val();
        Msisdno.TelNetwork = $("#Tel").val();
        Msisdno.ItNumberReference = $("#ItNumberReference2").val();
        Msisdno.ID = 0;
        var data1 = JSON.stringify(Msisdno);
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/MobileNumberSeries/GetSim',
            data: data1,
            success: function (response) {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    progressBar: true,
                    timer: 3000
                });
                Toast.fire({
                    icon: 'success',
                    title: 'Number Save Successfully..!'
                })
                $('#from').val('');
                $("#sto").val('');
                $("#Tel").val('');
                $("#ItNumberReference2").val('');
                RefreshPage();
            },
            failure: function (response) {
                $('#result').html(response);
            }
        });

    }
    function delmsisd(Id) {
        debugger
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                var Msisdno = {};
                Msisdno.ID = Id;
                var data1 = JSON.stringify(Msisdno);
                debugger
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '/MobileNumberSeries/Delete',
                    data: '{mSISDViewModel: ' + JSON.stringify(Msisdno) + '}',
                    success: function (response) {

                        Swal.fire('Deleted!', 'Your file has been deleted.', 'success')
                        RefreshPage();
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            }
        })
    }
</script>
