@model SimManagementSystem.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card-body">
        <p class="login-box-msg">Change Your Password</p>
        @Html.HiddenFor(model => model.UserId)
            <div class="input-group mb-3">
                <input type="text" name="NewPassword" id="NewPassword" class="form-control" placeholder="Enter New Password...!" />
                <br />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="Enter New Password...!" /><br />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>
    </div>
}

