@model SimManagementSystem.Models.LoginbyMobileNo
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card-body">
        <p class="login-box-msg">Forgot Password..</p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.ErrorMessage == 1)
        {
            <p class="login-box-msg"><b>You Enter Invalid Phone Number.!</b></p>
        }
        <div class="input-group mb-3">
            <input type="text" class="form-control mobile" placeholder="Enter Your Cell Number" id="MobileNo" name="MobileNo" required />
            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-mobile"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 align-middle">
                <button type="submit" class="btn btn-primary">Send OTP</button>
            </div>
            <!-- /.col -->
        </div>
    </div>
}




    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script>
        $(".mobile").mask("99999999999");
    </script>









